# Configuration file for the pyfinder module. This file is a
# free-style json file that allows comments. Use '#' or '//' 
# to add a comment before the parameter blocks. The part of 
# lines after the comment sign will be ignored when parsing, 
# if inline comments are used. As per json structure, double 
# quotes must be used for dictionary keys. 

{
    "finder-executable": {
        # Path to the FinDer executable, including the executable name
        "path": "/usr/local/src/FinDer/finder_run"

        # The root path for outputs of each FinDer run. A subfolder for
        # each run will be created inside this path to store all output.
        "output-root-folder": "" 
    }
}